---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: application-deployment
  labels:
    app: application
spec:
  replicas: 2
  selector:
    matchLabels:
      app: application
  template:
    metadata:
      labels:
        app: application
    spec:
      containers:
        - name: dockercontainer
          image: dockerimage:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          resources:
            limits:
              cpu: "500m"
              memory: "512Mi"
            requests:
              cpu: "250m"
              memory: "256Mi"


---
apiVersion: v1
kind: Service
metadata:
  name: application-service
  labels:
    app: application
spec:
  type: LoadBalancer   # For external access on EKS
  selector:
    app: application
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
