name: Resume ci Build

on:

  push:

    branches: [ "main" ]

  pull_request:

    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:

    - uses: actions/checkout@v4

    - name: Build the Docker image with tag

      run: docker build . --file Dockerfile --tag my-image-name:${{github.run_number}}

    - name: Build latest 

      run: docker build . --file Dockerfile --tag my-image-name

    - name: Login to Docker hub

      run: docker login -u ${{secrets.REGISTRY_USERNAME}} -p ${{secrets.REGISTRY_PASS}}

    - name: Tag image 


      run: docker tag my-image-name:${{github.run_number}} ${{secrets.REGISTRY_USERNAME}}/my-image-name:${{github.run_number}}

    - name: Push Image 

      run: docker push  ${{secrets.REGISTRY_USERNAME}}/my-image-name:${{github.run_number}}

  



 
Name: Deploy to EKS

jobs:
  deploy:

    needs: build

    runs-on: ubuntu-latest

    permissions:
      id-token: write        # REQUIRED for OIDC
      contents: read

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS Credentials (OIDC)
      uses: aws-actions/configure-aws-credentials@v4
      with:
        role-to-assume: ${{secrets.ROLE}}
        aws-region: us-east-1

    - name: Login to ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Deploy to EKS
      run: |
        aws eks update-kubeconfig --region us-east-1 --name YOUR_EKS_CLUSTER

        kubectl set image deployment/YOUR_DEPLOYMENT \
          YOUR_CONTAINER=YOUR_ECR_REPO:${{ github.sha }}

        kubectl rollout status deployment/YOUR_DEPLOYMENT 427de5c (the deployement)
